<!doctype html>
<html>
<head>
    <title>BudgetTracker</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body class="indexBody">
<div class="indexContainer">

    <div class="jumbotron text-center">
        <h1 class="indexH1">Budget Tracker</h1>
        <iframe src="https://giphy.com/embed/h0MTqLyvgG0Ss" width="480" height="365" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
        <p>Login or Signup:</p>

        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span>Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span>Signup</a>

    </div>

</div>
</body>
</html>
