body{
  padding-top:80px;
  word-wrap:break-word;

}
iframe{
  height: 300px;
 
}
.indexBody{
  background-color: #212121;
}
.indexContainer{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border: 1.25em solid whitesmoke;
  border-radius: 1em;
  color: var(--glow-color);
  --glow-color: rgba(61, 156, 30, 0.8);
    --glow-spread-color:rgba(17, 91, 37, 0.8);
    --enhanced-glow-color: rgba(81, 205, 56, 0.8);
  height: 634px;
  box-shadow: inset 0px 0px 40px 40px  rgba(81, 205, 56, 0.8);
 
}
.jumbotron{
  background: rgb(21,139,21);
  background: radial-gradient(circle, rgba(21,139,21,0.8244058098591549) 0%, rgba(21,62,10,1) 100%);
}
.indexH1{
  color: whitesmoke;
}
.btn, .loginBtn, .profileButton{
    --glow-color: rgba(61, 156, 30, 0.8);
    --glow-spread-color:rgba(17, 91, 37, 0.8);
    --enhanced-glow-color: rgba(81, 205, 56, 0.8);
    --btn-color:rgba(17, 91, 37, 0.8);
    border: .25em solid var(--glow-color);
    padding: 1em 3em;
    color: whitesmoke;
    font-size: 15px;
    font-weight: bold;
    background-color: var(--btn-color);
    border-radius: 1em;
    outline: none;
    box-shadow: 0 0 1em .25em var(--glow-color),
           0 0 4em 1em var(--glow-spread-color),
           inset 0 0 .75em .25em var(--glow-color);
    text-shadow: 0 0 .5em var(--glow-color);
    position: relative;
    transition: all 0.3s;
   }
   
   button::after {
    pointer-events: none;
    content: "";
    position: absolute;
    top: 120%;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--glow-spread-color);
    filter: blur(2em);
    opacity: .7;
    transform: perspective(1.5em) rotateX(35deg) scale(1, .6);
   }
   
   button:hover {
    color: var(--btn-color);
    background-color: var(--glow-color);
    box-shadow: 0 0 1em .25em var(--glow-color),
           0 0 4em 2em var(--glow-spread-color),
           inset 0 0 .75em .25em var(--glow-color);
   }
   
   button:active {
    box-shadow: 0 0 0.6em .25em var(--glow-color),
           0 0 2.5em 2em var(--glow-spread-color),
           inset 0 0 .5em .25em var(--glow-color);
   }
   .loginBody{
    background-color: #212121;
   }
   .h1Login{
     color: whitesmoke;
     background-color:  rgba(17, 91, 37, 0.8);
     border: .45em solid  rgba(81, 205, 56, 0.8);
     border-radius: 5%;
     text-align: center;
   }
   hr{   
     color: rgba(81, 205, 56, 0.8);
    }
label{
  color:  rgba(81, 205, 56, 0.8);
  font-size: 20px;
}
.loginForm{
  background-color: rgba(17, 91, 37, 0.8);
  height:250px;
  border: 1.25em solid  rgba(81, 205, 56, 0.8);
  border-radius: 10%;
  
}
.form-control{
  border: 1.25em solid rgba(17, 91, 37, 0.8);
  border: 3px solid rgba(17, 91, 37, 0.8);;
  margin-left: auto;
  width: 80%;
  margin-right: auto;
}
.form-group{
  color:rgba(17, 91, 37, 0.8);
}

 .loginP{
   color:  rgba(17, 91, 37, 0.8);
 }
 .loginA{
   color: rgba(17, 91, 37, 0.8);;
   text-decoration: underline;

 }
 .profileBody{
   background-color: #212121;
 }

.profileContainer{
  background-color:rgba(17, 91, 37, 0.8);
  border: 1.25em solid  rgba(81, 205, 56, 0.8);
  text-align: center;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10%;
  height: 550px;
}
.profileH, .profileA, .profileH3, .profileh2, .message span{
  color:  rgba(81, 205, 56, 0.8);
}
.profileDiv{
  display: none;
}

li{
  list-style-type: none;
}
.profileA{
  text-decoration: underline;
}
.profileH3{
  font-size: 40px;
}

.col-sm-6 {
    font-size: 15px;
  
}
i{
  color: whitesmoke;
}
.row{
  width: 97%;
 
}
h1{
  color:rgba(17, 91, 37, 0.8);
}
a{
  color:  rgba(81, 205, 56, 0.8);
}
.fa-plus-square{
  background-color:rgba(17, 91, 37, 0.8);
  color: white;
}
.budget{
  color:rgba(81, 205, 56, 0.8);
}